/* Removes Mobile Highlight */ 
*{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cake-canvas{
	width:50%;
	height:50%;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

#lives{
	
}

#one{

}
#two{
	top:50px;
}
#three{
	top:100px;
}

.life{
	background-image: url(file:///C:/Andrew/Downloads/PoundCake/cake.png);
	width:50px;
	height:50px;
	background-size:100%;
	position:absolute;
	right:70px;
	top:10px;
}

#score{
	width:50%;
	height:50%;
	margin-left:auto;
	margin-right:auto;
	display:block;
	
	/*font-size:0.5em;*/
	text-align:center;
}

#start{
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
	top:15%;
	
	text-align:center;
	border:1px solid;
	font-size:0.5em;
	width:25px;
	padding:5px;
	position:absolute;
}

#game_over{
	display:none;
}